<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.pj.sys.dao.SysLogDao">
    <!--mybatis中 sql元素用于定义共性,需要它的地方通过include指令进行引入-->
    <sql id="selectColumns">
        select id,username,ip,operation,method,params,status,error,time,createdTime
        from sys_logs
    </sql>

    <select id="selectLogs" resultType="com.cy.pj.sys.pojo.SysLog">
        <include refid="selectColumns"/>
        <where>
            <if test="status!=null">
                status=#{status}
            </if>
            <if test="operation!=null and operation!=''">
               and operation like concat("%",#{operation},"%")
            </if>
            <if test="username!=null and username!=''">
               and  username like concat("%",#{username},"%")
            </if>
        </where>
         order by createdTime desc
    </select>
    <select id="selectById" resultType="com.cy.pj.sys.pojo.SysLog">
        <include refid="selectColumns"/>
        where id=#{id}
    </select>

    <delete id="deleteById">
          delete from sys_logs
          <where>
            <choose>
                <when test="array!=null and array.length>0">
                    id in
                    <foreach collection="array" open="(" close=")" separator="," item="id">
                        #{id}
                    </foreach>
                </when>
                <otherwise>
                    1=2
                </otherwise>
            </choose>
        </where>
    </delete>
    <insert id="insertLog">
        insert into sys_logs
        (username,ip,operation,method,params,
         time,status,error,createdTime)
        values
        (#{username},#{ip},#{operation},#{method},#{params},
        #{time},#{status},#{error},#{createdTime})
    </insert>
</mapper>
