<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cy.pj.sys.dao.SysRoleMenuDao">


    <insert id="insertRoleMenu">
        insert into sys_role_menus
        (role_id, menu_id)
        values <!--(1,2),(3,4)-->
        <foreach collection="menuIds" item="menuId" separator=",">
            (#{roleId},#{menuId})
        </foreach>
    </insert>
</mapper>